body {
}

.top {
	height: 200px;
}

.middle {
	height: 300px;
	overflow: auto;
}

.bottom {
}

.left {
	width:20%;
	float:left;
	position: relative;
}

.center {
	width:20%;
	float:left;
	position: relative;
}

.right {
	width:20%;
	float:left;
	position: relative;
}

.fullWidth {
	width:100%
	float:left;
	position: relative;
	top: 50%;
	left: -40%;
}

.block {
	left: 15px;
	position: relative;
	float:left;
	padding: 10px;
	overflow: auto;
	border-style: solid;
	border-width: 2px;
	background-color: lightgrey;
	width:600px;
	height:200px;
}

.pendingBlock {
	left: 15px;
	position: relative;
	padding: 10px;
	border-style: dotted;
	border-width: 2px;
	background-color: lightgrey;
	width:200px;
	height:200px;
}

.receipt{
	left: 15px;
	position: relative;
	padding: 10px;
	border-style: dotted;
	border-width: 2px;
	width:150px;
	height:150px;
}

.tabContent {
display:none;
padding:0.01em 16px;
border:1px solid #ccc!important
}

.selectedTab {
display:block !important;
}

.red, .hover-red:hover{
color:#fff!important;
background-color:#f44336!important
}

.black, .hover-black:hover{
color:#fff!important;
background-color:#000
}

.tabBar {
list-style-type:none;
margin:0;
padding:0;
overflow:hidden
}

.tabBar li{
	float:left
}

.tabBar li a{
	display:block;
	padding:8px 16px
}


.tabBar a{
	text-decoration:none!important
}